* {
    font-family: 'Kalam', cursive;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* logo  */
.logo img {
    height: 36px;
    width: 107px;
    padding: 2px 3px;
    margin: 5px 2px;
}

.header {
    /* background-color: black; */
    font-family: 'Kalam', cursive;
    /* flex-direction: column; */
}

/* navbar  */
.navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}


.navbar {
    position: relative;
    text-align: center;
}

.navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: center;
}

.navbar ul li {
    padding: 9px 27px;
    margin: 0px;
    list-style-type: none;
    /* -ms-flex-item-align: left ; */
}

.navbar ul li a {
    color: rgb(224, 224, 6);
    text-decoration: none;
    display: block;
    padding: 3px 8px;
    text-align: left;
    border: 2px solid white;
    border-radius: 4px;
    font-weight: bold;
}

.navbar ul li a:hover {
    font-size: larger;
    color: aqua;
    background-color: black;
}

hr {
    color: black;
}

/* searchbox  */
/* .searchbox input{
    border: 2px solid red;
    position: relative;
    margin-top: 0px;
    right: 0px; */
/* } */
/* main  */
.aboutweb::before {
    content: "";
    position: absolute;
    background: url('images/food1.webp')no-repeat center center/cover;
    height: 33.5rem;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    margin-top: -20px;

}

main h1 {
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
    padding: 5px 5px;
    animation-name: yash;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes yash {
    from {
        color: black;
    }

    to {
        color: rgba(251, 0, 255, 0.902);
    }
}

main p {
    text-align: center;
    padding: 4px;
    font-size: 21px;
    font-weight: revert;
}

/* buttons  */
.orderfood {
    text-align: center;
    margin: 23px;
    padding: 2px;
}

#getoff {
    border: 2px solid white;
    padding: 6px 6px;
    background-color: grey;
    margin: 5px 10px;
    border-radius: 12px;
    font-size: 20px;
    color: rgb(224, 224, 6);
    cursor: pointer;
    font-weight: bold;
}



#placefood {
    border: 2px solid white;
    padding: 6px 6px;
    background-color: grey;
    margin: 5px 10px;
    border-radius: 12px;
    font-size: 20px;
    color: rgb(224, 224, 6);
    font-weight: bold;
    cursor: pointer;
}

#getoff:hover {
    font-size: larger;
    color: aqua;
    background-color: black;
}

#placefood:hover {
    font-size: larger;
    color: aqua;
    background-color: black;
}

/* section our services box  */
.description {

    /* background-color: rgb(128, 128, 128); */
    display: flex;
    border: 2px solid pink;
}

h2 {
    font-size: 35px;
    margin-top: 0px;
    text-align: center;
    padding: 5px 5px;
}

.box {
    background-color: rgb(128, 128, 128);
    width: 235px;
    display: block;
    border: 2px solid rgb(237, 9, 9);
    margin: 8px auto;
    border-radius: 23px;
}

.box:hover {}

.box img {
    padding: 2px 2px;
    display: block;
    /* margin: auto; */
    justify-content: center;
    /* border: 3px solid yellow; */
    height: 160px;
    width: 160px;
    margin: 11px auto;
    padding: 6px 4px;
}

.box p {
    color: rgb(224, 224, 6);
    font-size: medium;
}

.box h1 {}

/* footer  */
.footer::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 8%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

footer {
    /* height:relative; */
    font-family: 'Times New Roman', Times, serif;
    color: rgb(224, 224, 6)
}

/* utility classes */
.center {
    text-align: center;
    text-decoration: none;
    justify-content: center;
}

.primarycolor {
    color: rgb(224, 224, 6)
}